<div class="surface project-container">
    <div class="project-list-header">
        <div class="project-image">
            <img class="project-img" src="/Images/card-image.svg" alt="ProfilIcon">
        </div>
        <h6 class="project-name">Website Redesign</h6>
        <span class="client-name">GitLab Inc.</span>
        <button class="ellipsis-btn" type="button" date-type="dropdown" data-target="#project-dropdown-2">
            <i class="fa-solid fa-ellipsis"></i>
        </button>


        <div id="project-dropdown-2" class="edit-sektion surface">
            <div class="project-action">
                <button data-type="modal" data-target="#edit-project-modal" class="edit" href="#">
                    <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                    <span>Edit</span>
                </button>

                <div class="diverders"></div>

                <button class="delete" href="#">
                    <i class="fa-duotone fa-solid fa-trash-can"></i>
                    <span>Delete Project</span>
                </button>
            </div>
        </div>

    </div>

    <div class="project-list-body">
        <p>Lorem ipsum m doloru consequatur, tenetur incidunt. Amet blanditiis, eius nihil beatae error omnis. Tempore distinctio incidunt explicabo?</p>
    </div>

</div>