@model EditProjectViewModel


<section id="edit-project-modal" class="modal">
    <div class="surface modal-container">

        <div class="modal-header">
            <h3>Edit Project</h3>
            <button data-target="edit-project-modal" data-type="close" class="close-btn">×</button>
        </div>

        <div class="modal-body">

            <form asp-action="Edit" asp-controller="Projects" method="post" enctype="multipart/form-data" novalidate>
                @Html.AntiForgeryToken()

                <div class="upload-image">
                    <img class="image-icon" data-type="file" src="/Images/project-icon.svg" alt="Project Image">
                    <input asp-for="Image" type="hidden">
                    <span asp-validation-for="Image"></span>
                </div>

                <div class="form-input">
                    <label asp-for="ProjectName"></label>
                    <input asp-for="ProjectName" />
                    <input asp-for="ProjectId" type="hidden" />

                    <span asp-validation-for="ProjectName"></span>

                </div>

                <div class="form-input">
                    <label asp-for="ClientName"></label>
                    <input asp-for="ClientName" />
                    <span asp-validation-for="ClientName"></span>
                </div>

                <div class="form-input">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" id="edit-project-description" class="hide"></textarea>
                    <div class="wysiwyg">
                        <div id="edit-project-description-wysiwyg-editor" class="wysiwyg-editor"></div>
                        <div id="edit-project-description-wysiwyg-toolbar" class="wysiwyg-toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-align" value=""></button>
                                <button class="ql-align" value="center"></button>
                                <button class="ql-align" value="right"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="date-container">

                    <div class="form-input">
                        <label asp-for="StartDate" > </label>
                        <input asp-for="StartDate" type="date">
                        <span asp-validation-for="StartDate"></span>
                    </div>

                    <div class="form-input">
                        <label asp-for="EndDate"> </label>
                        <input asp-for="EndDate" type="date">
                        <span asp-validation-for="EndDate"></span>
                    </div>

                </div>


                <div class="select-input">
                    <label asp-for="Status" >Status</label>
                    <select asp-for="Status" asp-items="Model.Statuses"></select>

                    <span asp-validation-for="Status"></span>
                </div>

                <div class="form-input">
                    <label asp-for="Budget" ></label>
                    <div class="form-input-extented">
                        <input asp-for="Budget" type="number" class="form-input">
                        <i class="fa-duotone fa-solid fa-dollar-sign"></i>
                    </div>
                    <span asp-validation-for="Budget"></span>
                </div>

                <button type="submit" class="btn">Save Changes</button>

            </form>

        </div>
    </div>
</section>