<header id="top-header" class="top">
    <div class="icon-button">

        <button class="setting-btn"><i class="fa-duotone fa-solid fa-gear"></i></button>

        <div class="diverders"></div>

        <div class="profile-icon">
            <button class="profile-btn" type="button" date-type="dropdown" data-target="#account-dropdown">
                <img class="profile-img" src="/Images/profil-icon.svg" alt="ProfilIcon">
            </button>
        </div>
    </div>

    <div id="account-dropdown" class="profile-section surface">
        <div class="account-name">
            <img class="profile-img" src="/Images/profil-icon.svg" alt="ProfilIcon">
            <span>Tommy Mattin-Lassei</span>
        </div>

        <a href="#" class="logout-link">
            <img src="/Images/Logout-icon.svg" alt="Logout-icon">
            <span>Logout</span>
        </a>
    </div>

</header>
