@model SignInFormModel

@{
    ViewData["Title"] = "Sign In";
}



<div class="surface login-surface">
    <div class="login-container">

        <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
            <h1 class="form-headline">Log in</h1>

            <div class="form-input" >
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"> </span>
            </div>

            <div class="form-input">
                <label asp-for="Password"></label>
                <input asp-for="Password" value="@Model?.Password" >
                <span asp-validation-for="Password" > </span>
            </div>

            <div class="remember-me">
                <input type="checkbox" checked>
                <label for="">Remember Me</label>
            </div>

            <button type="submit" class="btn btn-blue">Log in</button>

        </form>
        <p class="sign-in-up-text">Don't have an account? <a href="#">Sign Up</a></p>
    </div>
</div>