@model SignInViewModel

@{
    Layout = "_CenterWrapperLayout";
    ViewData["Title"] = "Log in";
}



<div id="login-surface" class="surface">
    <div class="form-header"> <h1>@ViewData["Title"]</h1> </div>

    <div class="card-container" >

        <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>

            <div class="form-input">
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"> </span>
            </div>

            <div class="form-input">
                <label asp-for="Password"></label>
                <input asp-for="Password" value="@Model?.Password">
                <span asp-validation-for="Password"> </span>
            </div>

            <div class="remember-me">
                <input asp-for="RememberMe" >
                <label for="">Remember Me</label>
            </div>

            <button type="submit" class="btn btn-blue">Log in</button>

        </form>
    </div>

    <div class="footer-text">Don't have an account? <a asp-controller="Auth" asp-action="SignUp">Sign Up</a></div>
</div>